<div class="chatboxreservation">
    <span class="headermessage">{{headerMessage}}</span>
    <span class="machine"><strong>Machine: </strong>{{machine}}</span>
    <span class="date"><strong>Date: </strong>{{date}}</span>
    <span class="start"><strong>Start: </strong>{{start}}</span>
    <span class="end"><strong>End: </strong>{{end}}</span>
</div>