<div class="newnavbarlongscreenredbar4links">
                    <div class="background">
                    </div>
                    <img alt="Image" anima-src="./img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png" class="screenshot20200421at112321pm" src="../imported/img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png">
                    <div class="thelab">
                        The Lab
                    </div>
                    <div class="reservations">
                        Reservations
                    </div>
                    <div class="manageyouraccount">
                        Manage Your Account
                    </div>
                    <div class="bookamachine">
                        Book A Machine
                    </div>
                    <img alt="Image" anima-src="./img/reservations-bitmap-5@2x.png" class="bitmap" src="../imported/img/reservations-bitmap-5@2x.png">
                    <div class="davidsmith2321123">
                        <span class="span1">David Smith<br></span><span class="span2">#23211234</span>
                    </div>
                    <img alt="Image" anima-src="./img/reservations-triangle-copy@2x.png" class="trianglecopy" src="../imported/img/reservations-triangle-copy@2x.png">
                    <img alt="Image" anima-src="./img/home-line-6.png" class="line62" src="../imported/img/home-line-6.png">
                    <img alt="Image" anima-src="./img/manage-your-account-line-7@2x.png" class="line7" src="../imported/img/manage-your-account-line-7@2x.png">
                    <div class="redbarbottom">
                        <div class="rectangle">
                        </div>
                    </div>
                </div>