<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <h1>Manage Your Reservations</h1>
    <label for="">Machine: </label><select id="machine-schedule" style="display:none">
      <% for (var i = 0; i < req.machines.length; i++ ) { %>
      <option value="<%= req.machines[i].index %>"><%= req.machines[i].name %></option>
      <% } %>
    </select>
    <label for="">Day: </label><select name="" id="machine-schedule-day">

    </select>
    <div id="schedule">

    </div>

    <script src="/components/mustache.js/mustache.js"></script>

    <script>
      var template;

      $.ajax({

        url: "/templates/schedule-block.html",
        method: "get",
        success: function (data) {

          template = data;
          $("#machine-schedule").css("display", "block");
          getDays($("#machine-schedule").val());
          console.log(template);

        }

      });

      var startMins;
      var endMins;

      function getSchedule(machineIndex, day) {

        console.log(machineIndex)
        console.log(day.toString())

        $.ajax({
          url: "/myreservations/" + "machine-" + machineIndex + "/" + day,
          method: "get",
          success: function (data) {

            $("#schedule").empty();

            for (var i = 0; i < data.length; i++) {

              startMins = (new Date(data[i].time[0] * 1000).getHours() * 60) + new Date(data[i].time[0] * 1000)
                .getMinutes();
              endMins = new Date(data[i].time[1] * 1000).getHours() + new Date(data[i].time[1] * 1000)
              .getMinutes();

              $("#schedule").append(Mustache.to_html(template, {
                name: data[i].name,
                startTime: new Date(data[i].time[0] * 1000),
                endTime: new Date(data[i].time[1] * 1000),
                height: (startMins * 0.5) + "pt"
              }));

            }

          }
        });



      }

      function getDays(machineIndex) {

        $("#schedule").empty();
        console.log(machineIndex)

        $.ajax({
          url: "/allschedules/machine-" + machineIndex,
          method: "get",
          success: function (data) {

            console.log(data);
            $("#machine-schedule-day").empty()
            for (var i = 0; i < data.length; i++) {

              console.log(i)
              console.log("appending...")
              console.log(data[i])
              $("#machine-schedule-day").append("<option val='" + data[i] + "'>" + data[i] + "</option>");
              getSchedule(machineIndex, $("#machine-schedule-day").val());

            }



          }
        });

      }

      $("#machine-schedule-day").on("change", function () {

        console.log("changing...")
        getSchedule($("#machine-schedule").val(), $(this).val());

      })

      $("#machine-schedule").on("change", function () {

        console.log("changing...")
        getDays($(this).val());

      })
    </script>
</body>
</html>