<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/components/jquery/dist/jquery.min.js"></script>
</head>
<body>
  
  <h2>Student Reservation</h2>
  <form method="post" action="/reserve">

    <label for="">Machine</label>
    <select name="machine">
      <% for (var i = 0; i < req.machines.length; i++ ) { %>
      <option value="<%= req.machines[i].index %>"><%= req.machines[i].name %></option>
      <% } %>
    </select>
    <h3>Date</h3>
    <label for="date">Date: </label><input required id="date" name="schedule[global][date]" type="date">
    <h3>Start Time</h3>
    <!-- <label for="date">Date</label><input name="schedule[date][start]" type="date"> -->
    <label for="time">Time</label><input required id="start-time" name="schedule[time][start]" type="time">
    <h3>End Time</h3>
    <!-- <label for="date">Date</label><input name="schedule[date][end]" type="date"> -->
    <label for="time">Time</label><input required id="end-time" name="schedule[time][end]" type="time">
    <div style="display: none" class="warn">
      <p>Error. Please make sure the end time is AFTER the start time.</p>
    </div>
    <br>
    <button class="submit-reservation">Reserve</button>
  </form>
  <h2>Schedule</h2>
  <label for="">Machine: </label><select id="machine-schedule" style="display:none">
    <% for (var i = 0; i < req.machines.length; i++ ) { %>
    <option value="<%= req.machines[i].index %>"><%= req.machines[i].name %></option>
    <% } %>
  </select>
  <label for="">Day: </label><select name="" id="machine-schedule-day">

  </select>
  <div id="schedule">
  
  </div>

  <script>

    var start;
    var end;

    function checkTimeFields() {

      start = Math.floor(new Date($("#date").val() + " " + $("#start-time").val()).getTime() / 1000);
      end = Math.floor(new Date($("#date").val() + " " + $("#end-time").val()).getTime() / 1000);
      console.log(start);
      console.log(end);
      if (start >= end) {

        $(".warn").fadeIn();
        $(".submit-reservation").attr("disabled",true)

      } else {

        $(".warn").fadeOut();
        $(".submit-reservation").attr("disabled", false)

      }

    }
  
    $("#start-time").on('keyup', function() {checkTimeFields()});
    $("#end-time").on('keyup', function() {checkTimeFields()});

  
  </script>

  <script src="/components/mustache.js/mustache.js"></script>

  <script>

    var template;

    $.ajax({

      url: "/templates/schedule-block.html",
      method: "get",
      success: function(data) {

        template = data;
        $("#machine-schedule").css("display","block");
        getDays($("#machine-schedule").val());
        console.log(template);

      }

    });

    var startMins;
    var endMins;

    function getSchedule(machineIndex, day) {

      console.log(machineIndex)
      console.log(day.toString())

      $.ajax({
        url: "/schedule/" + "machine-" + machineIndex + "/" + day,
        method: "get",
        success: function(data) {

          $("#schedule").empty();

          for (var i = 0; i < data.length; i++) {

            startMins = (new Date(data[i].time[0] * 1000 ).getHours()*60) + new Date(data[i].time[0] * 1000).getMinutes();
            endMins = new Date(data[i].time[1] * 1000 ).getHours() + new Date(data[i].time[1] * 1000 ).getMinutes();

            $("#schedule").append(Mustache.to_html(template, { name: data[i].name, startTime: new Date(data[i].time[0] * 1000), endTime: new Date(data[i].time[1] * 1000 ),
            height: (startMins * 0.5) + "pt"}));

          }

        } 
      });

      

    }

    function getDays(machineIndex) {

      $("#schedule").empty();
      console.log(machineIndex)

      $.ajax({
        url: "/allschedules/machine-"+machineIndex,
        method: "get",
        success: function (data) {

          console.log(data);
          $("#machine-schedule-day").empty()
          for (var i = 0; i < data.length; i++) {

            console.log(i)
            console.log("appending...")
            console.log(data[i])
            $("#machine-schedule-day").append("<option val='" + data[i] + "'>" + data[i] + "</option>");
            getSchedule(machineIndex, $("#machine-schedule-day").val());

          }

          

        }
      });

    }

    $("#machine-schedule-day").on("change", function() {

      console.log("changing...")
      getSchedule($("#machine-schedule").val(),$(this).val());

    })

    $("#machine-schedule").on("change", function () {

        console.log("changing...")
        getDays($(this).val());

      })



  </script>

</body>
</html>