<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ../partials/global-header.ejs %>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <div class="page-content">
        <h1>Welcome to AutoFAB</h1>
        <p>Using this app, easily reserve machines in advance for ultimate convenience and total peace of mind.</p>
        <button class="btn btn-lg btn-outline-primary">Calendar</button>
        <p>Use the <b>Calendar</b> to view the current reservations for any machine.</p>
        <button class="btn btn-lg btn-outline-primary">Make a Reservation</button>
        <p><b>Make a Reservation</b> for any machine given that the selected time is available.</p>
        <button class="btn btn-lg btn-outline-primary">My Reservations</button>
        <p>Press <b>My Reservations</b> to view all active reservations made to your name.</p>
        <button class="btn btn-lg btn-outline-primary">Account Settings</button>
        <p>Take a look at <b>Account Settings</b> to manage your account (i.e. change your password).</p>

        <style>
            p {
                margin-top: 16px
            }
            a.btn-outline-primary {
                color: white;
            }
        </style>
    </div>
</body>
</html>