<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This resrevation could not be made</h1>
    <p>The time slot you have requested is unavailable. If you think this is a mistake, please contact a teacher for additionnal assistance.</p>
    <a href="/">Okay</a>
</body>
</html>