<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        console.log(window.location.hostname)
      var socket = io();
      var el;

      socket.on('connect', function(timeString) {
        console.log("connected!")
      });
      </script>
</body>
</html>