<!DOCTYPE html><html><head>
        <link href="../imported/img/favicon.png" rel="shortcut icon">
        <meta charset="utf-8">
        <meta content="width=1683, maximum-scale=1.0" name="viewport">
        <link href="../imported/css/theLabSpacePage.css" rel="stylesheet" type="text/css">
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
    <script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/jquery-ui/jquery-ui.min.js"></script>
<script src="/components/mustache.js/mustache.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css" media="screen,projection">

<!-- <script src="/components/wickedpicker/dist/wickedpicker.min.js"></script> -->
<!-- <link rel="stylesheet" href="/components/wickedpicker/dist/wickedpicker.min.css"> -->

<!-- <link rel="stylesheet" href="/components/jquery-ui/themes/black-tie/jquery-ui.min.css">
<link rel="stylesheet" href="/components/jquery-ui/themes/black-tie/theme.css"> -->

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/action-menu.css">
<!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
<!-- <link rel="stylesheet" href="/assets/css/Header-Blue.css"> -->
<link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/css/dialogue-box.css">
<link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
<script src="/js/edlib.js"></script>
<script src="/js/ajax-dialogue.js"></script>
<script src="/js/ajax-table.js"></script>
<script src="/js/ajax-form.js"></script>
<script src="/js/status-msg.js"></script></head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);"><div id="status-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="modal-title">Modal Header</h4>
    <p class="modal-body">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="close-ajax-dialogue">Close</a>
  </div>
</div>

<script>
  $(document).ready(() => {
    ajaxDialogue.init()
  })
</script>
        <input id="anPageName" name="page" type="hidden" value="thelabspacepage">
        <div class="thelabspacepage anima-word-break ">
            <div style="width: 1683px; height: 100%; position:relative; margin:auto;">
                <div class="thelccfablab">
                    The LCC Fab Lab
                </div>
                <img alt="Image" anima-src="./img/the-lab-machines-page-line-4.png" class="line4" src="../imported/img/the-lab-machines-page-line-4.png">
                <div class="theteam">
                    The Team
                </div>
                <div class="thespace">
                    The Space
                </div>
                <div class="themachines">
                    The Machines
                </div>
                <img alt="Image" anima-src="./img/the-lab-space-page--bitmap@2x.png" class="bitmap" src="../imported/img/the-lab-space-page--bitmap@2x.png">
                <div class="a4090avenueroyal51">
                    4090 Avenue Royal<br>514-482-9916 ext. 209<br>amathewson@lcc.ca
                </div>
                <div class="servicesoffered3d">
                    <span class="span1">Services Offered:</span><span class="span2"> 3D Printing, Laser Cutting, CNC-Milling, Vinyl Cutting</span>
                </div>
                <div class="hoursofoperation">
                    <span class="span1">Hours of Operation:<br><br>Monday: </span><span class="span2">8 AM -5 PM</span><span class="span3"><br>Tuesday: </span><span class="span4">8 AM -5 PM</span><span class="span5"><br>Wednesday: </span><span class="span6">8 AM - 3 PM</span><span class="span7"><br>Thursday: </span><span class="span8">8 AM -5 PM</span><span class="span9"><br>Friday: </span><span class="span10">8 AM - 5PM<br></span><span class="span11">Saturday &amp; Sunday:</span><span class="span12"> Closed<br><br></span>
                </div>
                <img alt="Image" anima-src="./img/the-lab-space-page--bitmap-1.png" class="bitmap1" src="../imported/img/the-lab-space-page--bitmap-1.png">
                <img alt="Image" anima-src="./img/the-lab-space-page--bitmap-2.png" class="bitmap2" src="../imported/img/the-lab-space-page--bitmap-2.png">
                <img alt="Image" anima-src="./img/the-lab-space-page--bitmap-3.png" class="bitmap3" src="../imported/img/the-lab-space-page--bitmap-3.png">
                <img alt="Image" anima-src="./img/the-lab-space-page--bitmap-4.png" class="bitmap4" src="../imported/img/the-lab-space-page--bitmap-4.png">
                <div class="statusopen">
                    <span class="span1">Status: </span><span class="span2">Open</span>
                </div>
                <div class="newnavbarlongscreenredbar4links">
                    <div class="background">
                    </div>
                    <img alt="Image" anima-src="./img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png" class="screenshot20200421at112321pm" src="../imported/img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png">
                    <div class="thelab">
                        The Lab
                    </div>
                    <div class="reservations">
                        Reservations
                    </div>
                    <div class="manageyouraccount">
                        Manage Your Account
                    </div>
                    <div class="bookamachine">
                        Book A Machine
                    </div>
                    <img alt="Image" anima-src="./img/reservations-bitmap-5@2x.png" class="bitmap5" src="../imported/img/reservations-bitmap-5@2x.png">
                    <div class="davidsmith2321123">
                        <span class="span1">David Smith<br></span><span class="span2">#23211234</span>
                    </div>
                    <img alt="Image" anima-src="./img/reservations-triangle-copy@2x.png" class="trianglecopy" src="../imported/img/reservations-triangle-copy@2x.png">
                    <img alt="Image" anima-src="./img/home-line-6.png" class="line6" src="../imported/img/home-line-6.png">
                    <img alt="Image" anima-src="./img/manage-your-account-line-7@2x.png" class="line7" src="../imported/img/manage-your-account-line-7@2x.png">
                    <div class="redbarbottom">
                        <div class="rectangle">
                        </div>
                    </div>
                </div>
                <a href="home">
                    <div class="hotspot">
                    </div>
                </a>
                <a href="thelabteampage">
                    <div class="hotspot1">
                    </div>
                </a>
                <a href="thelabmachinespage">
                    <div class="hotspot2">
                    </div>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    

<script src="../components/materialize/dist/js/materialize.min.js"></script>
<script>
    // Time picker was removed due to certain requirements that needed a callback to run on close.
    // $('.date-picker').datepicker({
    //     format: "mm-dd-yyyy",
    //     defaultDate: new Date(),
    //     setDefaultDate: true
    // });
    $(".time-picker").timepicker();
</script><script>
    $(document).ready(() => {
        // setup the machine selector
        $("select[data-collection='machines']").each((index, value) => {
            $.ajax({
                url: "/query/" + value.getAttribute("data-collection"),
                method: "get",
                success: data => {
                    console.log("success!")
                    console.log(data)
                    $.each(data, (x, y) => {
                        var elmnt = document.createElement("option")
                        elmnt.innerHTML = y.name
                        elmnt.value = y._id
                        value.appendChild(elmnt)
                        console.log("added values!")
                    })
                }
            })
        })
    })
</script></body></html>