<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../partials/global-header.ejs %>
  <title>Document</title>
</head>

<body>
  <%- include ../partials/navbar.ejs %>
  <div class="page-content">
    <h1>Accounts</h1>
    <h2>New User Account</h2>
    <form action="/register" method="post" class="ajax-form">
      <input name="username" type="text" placeholder="Username">
      <input name="password" type="password" placeholder="Password">
      <input name="rfid" type="text" placeholder="RFID tag">
      <label>Permission:</label><select name="permission">
        <option value="-1">Admin</option>
        <option value="0">Student</option>
      </select>
      <button>Create User</button>
    </form>
    <h2>All User Accounts</h2>
    <table class="machines-table ajax-table" data-url="/users/all">
      <thead>
        <tr>
          <td data-tag="username">Username</td>
          <td data-tag="rfid">RFID Tag</td>
          <td data-tag="permission">Permission</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script>

    // console.log())
    function refreshAjaxTable() {
      $(".ajax-table tbody").empty();
      $.ajax({
        url: $(".ajax-table").data("url"),
        method: "get",
        success: data => {
          var tRow = "<tr>"
          $(".ajax-table thead td[data-tag]").each(index => {
            tRow = tRow + "<td>{{" + $(".ajax-table thead td")[index].getAttribute("data-tag") + "}}</td>"
          })
          tRow += "<td><button "
          $(" .ajax-table thead td[data-tag]").each(index=> {
            tRow += "data-" + $(".ajax-table thead td")[index].getAttribute("data-tag") +
            "='{{" + $(".ajax-table thead td")[index].getAttribute("data-tag") + "}}' "
          })
          tRow += ">Manage</button></td></tr>"
          var tableRow = $(".ajax-table thead").html()
          data.forEach(element => {
            $(".ajax-table tbody").append(Mustache.to_html(tRow,element))
          })
        }
      })
    }
    refreshAjaxTable()
    $(".ajax-form").on("success",refreshAjaxTable)

    

  </script>
  <style>
    h4 {

      font-weight: 400;

    }

    .schedule-block {

      background: black;
      width: 50%;
      /* height: 100px; */
      padding: 10px;

    }

    .schedule-block h2 {
      color: white;
    }

    .schedule-block p {
      color: white;
    }

    .machines-table {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }

    .machines-table td {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }
  </style>
</body>

</html>