body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-content {
  margin: 0 40px;
}

.schedule-block {
  position: absolute;
  width: 40vw;
  right: 0;
}

[data-status='Pending'],
[data-status='pending'] {
  background: rgb(196, 135, 22);
  color: white
}
[data-status='Rejected'] {
  background: rgb(213, 75, 25);
  color: white
}
[data-status='Approved'],
[data-status='approved'] {
  background: green;
  color: white
}
[data-status='Canceled'] {
  background: red;
  color: white
}

.modal-header[data-status] {
  border-radius: 0;
}

.modal-header[data-status] [aria-hidden] {
  color: white
}

[data-content='Pending'] {
  color: rgb(196, 135, 22);
  text-transform: capitalize;
  font-weight: bold;
}

[data-content='Rejected'] {
  color: rgb(159, 52, 13);
  text-transform: capitalize;
  font-weight: bold;
}

[data-content='Canceled'] {
  color: rgb(213, 75, 25);
  text-transform: capitalize;
  font-weight: bold;
}

[data-content='Approved'] {
  color: rgb(28, 138, 18);
  text-transform: capitalize;
  font-weight: bold;
}

#view-reservation-modal .modal-body form {
  display: flex;
  flex-direction: column
}

.status-label {
  margin: 0;
}

.schedule-block * {
  color: white;
  margin: 0;
  text-align: center;
}

#schedule {
  position: absolute;
  top: 300px;
  width: 50vw;
  z-index: 2;
}

#schedule-lines {
  position: absolute;
  top: 300px;
  z-index: 1;
  width: 50vw;
}

#schedule-lines hr {
  z-index: 3;
  /* border-color: white; */
}

.calendar-dropdown,
.calendar-text {
  display: inline;
}

.time-divider {
  margin: 0;
  position: absolute;
  width: 50vw;
}

.hour-marker {
  position: absolute;
  z-index: 4;
  background-color: white;
  width: 15px;
}