<span style="line-height: {{height}}px; top: {{topText}}px; height: {{height}}px; width:{{textWidth}}px" class="hour-label">{{time}}</span>
<hr style=" color: red; height: {{lineHeight}}px; width: {{width}}px; position: absolute; left: 0; top: {{top}}px; margin: 0; z-index: 1;">


