<div class="message-box success {{type}}">
    <h1>{{header}}</h1>
    <h2>{{msg}}</h2>
    <button onclick="$(this).parent().remove()" class="btn btn-lg btn-primary ok-close-dialogue">OK</button>
</div>