<tr>
    <td>{{startHours}}:{{startMinutes}}</td>
    <td>{{endHours}}:{{endMinutes}}</td>
    <td><button class="btn btn-sm btn-danger" onclick="deleteReservation({{start}},{{end}})">Delete</button></td>
</tr>