<div class="reservationblock" style="position: absolute; left: {{left}}px; height: {{height}}px; top: {{top}}px; width: {{width}}px; z-index: 3;">
                        <div class="reservationblockbackground" style="height: 100%;">
                        </div>
                        <div class="reserved911am" style="top: 0px;">
                            <span class="span1">&nbsp;&nbsp;</span><span class="span2">Reserved<br></span><span class="span3">{{timeDisplay}}</span>
                        </div>
                    </div>