<div data-status="{{status}}" style="position: absolute; left: {{left}}px; height: {{height}}px; top: {{top}}px; width: {{width}}px; z-index: 3;" class="schedule-block">
    <p style="display: {{displayText}}; line-height: {{height}}px">Reserved</p>
</div>


