<!DOCTYPE html><html><head>
        <link href="../imported/img/favicon.png" rel="shortcut icon">
        <meta charset="utf-8">
        <meta content="width=1683, maximum-scale=1.0" name="viewport">
        <link href="../imported/css/createANewResCopy2ConfirmedPage.css" rel="stylesheet" type="text/css">
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
    <script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/jquery-ui/jquery-ui.min.js"></script>
<script src="/components/mustache.js/mustache.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css" media="screen,projection">

<!-- <script src="/components/wickedpicker/dist/wickedpicker.min.js"></script> -->
<!-- <link rel="stylesheet" href="/components/wickedpicker/dist/wickedpicker.min.css"> -->

<!-- <link rel="stylesheet" href="/components/jquery-ui/themes/black-tie/jquery-ui.min.css">
<link rel="stylesheet" href="/components/jquery-ui/themes/black-tie/theme.css"> -->

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/action-menu.css">
<!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
<!-- <link rel="stylesheet" href="/assets/css/Header-Blue.css"> -->
<link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/css/dialogue-box.css">
<link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
<script src="/js/edlib.js"></script>
<script src="/js/ajax-dialogue.js"></script>
<script src="/js/ajax-table.js"></script>
<script src="/js/ajax-form.js"></script>
<script src="/js/status-msg.js"></script></head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);"><div id="status-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="modal-title">Modal Header</h4>
    <p class="modal-body">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="close-ajax-dialogue">Close</a>
  </div>
</div>

<script>
  $(document).ready(() => {
    ajaxDialogue.init()
  })
</script>
        <input id="anPageName" name="page" type="hidden" value="createanewrescopy2confirmedpage">
        <div class="createanewrescopy2confirmedpage anima-word-break ">
            <div style="width: 1683px; height: 100%; position:relative; margin:auto;">
                <div class="createanewreserva">
                    Create A New Reservation
                </div>
                <img alt="Image" anima-src="./img/calendar-line.png" class="line" src="../imported/img/calendar-line.png">
                <div class="rectangle">
                </div>
                <div class="thankyouyourrese">
                    <span class="span1">Thank you! Your reservation has been confirmed.<br></span><span class="span2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <img alt="Image" anima-src="./img/create-a-new-res-copy-2---confirmed-page-bitmap@2x.png" class="bitmap" src="../imported/img/create-a-new-res-copy-2---confirmed-page-bitmap@2x.png">
                <div class="group">
                    <img alt="Image" anima-src="./img/create-a-new-res-copy-2---confirmed-page-bitmap-1@2x.png" class="bitmap3" src="../imported/img/create-a-new-res-copy-2---confirmed-page-bitmap-1@2x.png">
                    <div class="machinename">
                        Trotec Speedy 300
                    </div>
                    <div class="resdate">
                        April 25th, 2020<br>
                    </div>
                    <div class="timeinterval">
                        12 PM - 2 PM
                    </div>
                    <img alt="Image" anima-src="./img/create-a-new-res-copy-2---confirmed-page-bitmap-2@2x.png" class="bitmap1" src="../imported/img/create-a-new-res-copy-2---confirmed-page-bitmap-2@2x.png">
                    <img alt="Image" anima-src="./img/create-a-new-res-copy-2---confirmed-page-bitmap-3@2x.png" class="bitmap2" src="../imported/img/create-a-new-res-copy-2---confirmed-page-bitmap-3@2x.png">
                </div>
                <div class="pending">
                    Pending
                </div>
                <div class="modify">
                    Modify
                </div>
                <div class="cancel">
                    Cancel
                </div>
                <div class="yourreservationis">
                    <span class="span1">Your reservation is now Pending. Once it is either approved or rejected, the change will be updated in your account on the “Reservations page.<br></span><span class="span2"><br></span><span class="span3">Upon Arrival: </span><span class="span4">Have your FOB ready. When your time comes, tap the FOB on the box to check-in. The machine will activate and will be available for use during your reserved session.</span>
                </div>
                <div class="group2">
                    <div class="lowercanadacollege">
                        Lower Canada College<br>4090 Avenue Royal<br>Montreal, Quebec<br>H4A 2M5<br>
                    </div>
                    <div class="shouldyouhaveany">
                        <span class="span1">Should you have any questions or concerns, please </span><span class="span2">contact us.</span>
                    </div>
                    <div class="rectangle1">
                    </div>
                    <div class="viewmore">
                        View More
                    </div>
                </div>
                <div class="newnavbarlongscreenredbar4links">
                    <div class="background">
                    </div>
                    <img alt="Image" anima-src="./img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png" class="screenshot20200421at112321pm" src="../imported/img/manage-your-account-screen-shot-2020-04-21-at-112321-pm@2x.png">
                    <div class="labinfo">
                        The Lab
                    </div>
                    <div class="reservations">
                        Reservations
                    </div>
                    <div class="account">
                        Manage Your Account
                    </div>
                    <div class="book">
                        Book A Machine
                    </div>
                    <img alt="Image" anima-src="./img/reservations-bitmap-5@2x.png" class="bitmap1" src="../imported/img/reservations-bitmap-5@2x.png">
                    <div class="username">
                        <span class="span1">David Smith<br></span><span class="span2">#23211234</span>
                    </div>
                    <img alt="Image" anima-src="./img/reservations-logindropdown@2x.png" class="logindropdown" src="../imported/img/reservations-logindropdown@2x.png">
                    <img alt="Image" anima-src="./img/home-line-6.png" class="line6" src="../imported/img/home-line-6.png">
                    <img alt="Image" anima-src="./img/manage-your-account-line-7@2x.png" class="line7" src="../imported/img/manage-your-account-line-7@2x.png">
                    <div class="redbarbottom">
                        <div class="rectangle1">
                        </div>
                    </div>
                </div>
                <a href="thelabspacepage">
                    <div class="hotspot">
                    </div>
                </a>
                <a href="home">
                    <div class="hotspot1">
                    </div>
                </a>
                <div class="confnum">
                    Confirmation #1221122
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    

<select style="display: none" data-collection="machines">

</select>

<script>
    $(document).ready(() => {
        // Put the confirmation number in the right place
        var searchParams = new URLSearchParams(location.href.split("?")[1]);
        $(".confnum").html("Confirmation #" + searchParams.get("conf"))
        console.log("params: ", searchParams.get("machine"))
        console.log("Query: ", $("option[value='" + searchParams.get("machine") + "']"))
        console.log("The machine is:", $("option[value='" + searchParams.get("machine") + "']"))
        $(document).ajaxStop(() => {
            $(".machinename").html($("option[value='" + searchParams.get("machine") + "']").html())
        })
        var startDate = moment(searchParams.get("date") + ", " + searchParams.get("start"),"MM-DD-YYYY, hh:mm A")
        var endDate = moment(searchParams.get("date") + ", " + searchParams.get("end"),"MM-DD-YYYY, hh:mm A")
        $(".resdate").html(startDate.format("MMMM Do YYYY"))
        $(".timeinterval").html(startDate.format("h A") + " - " + endDate.format("h A"))
    })
</script><script src="../components/materialize/dist/js/materialize.min.js"></script>
<script>
    // Time picker was removed due to certain requirements that needed a callback to run on close.
    // $('.date-picker').datepicker({
    //     format: "mm-dd-yyyy",
    //     defaultDate: new Date(),
    //     setDefaultDate: true
    // });
    $(".time-picker").timepicker();
</script><script>
    $(document).ready(() => {
        // setup the machine selector
        $("select[data-collection='machines']").each((index, value) => {
            $.ajax({
                url: "/query/" + value.getAttribute("data-collection"),
                method: "get",
                success: data => {
                    console.log("success!")
                    console.log(data)
                    $.each(data, (x, y) => {
                        var elmnt = document.createElement("option")
                        elmnt.innerHTML = y.name
                        elmnt.value = y._id
                        value.appendChild(elmnt)
                        console.log("added values!")
                        $("select[data-collection='machines']").trigger("complete")
                    })
                }
            })
        })
    })
</script><div id="my-account" class="modal">
  <div class="modal-content">
    <h4>My Account</h4>
    <a href="#">View Account Settings</a>
    <a href="/logout">Log Out</a>
    <h4>Swith Interface</h4>
    <a href="/interface/set/regular">Regular</a>
    <a href="/interface/set/new">New</a>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<style>
    #my-account a {
        display: block;
        margin-bottom: 14px;
    }
</style>
<script>
    $(document).ready(() => {
        $("[href='landing']").on("click", e => {
            e.preventDefault()
            $("#my-account").modal()
            $("#my-account").modal("open")
        });
    })
</script></body></html>