<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../../partials/regular/global-header.ejs %>
  <title>Document</title>
</head>

<body>
  <!-- Modals -->
  <!-- General Purpose Dialogues -->
  <% include ../../partials/regular/success-modal.ejs %>
  <!-- Edit Machine Modal -->
  <div data-clear-on-close="true" class="modal fade" id="edit-machine-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Machine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class=" ajax-form" action="/machines/modify" method="post">
            <input type="hidden" name="id" id="machineId">
            <input type="text" name="name" id="machine-name" placeholder="Machine Name">
            <input type="text" name="type" id="machine-type" placeholder="Machine Type">
            <textarea id="machine-description" name="description">

            </textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="delete-machine" data-dismiss="modal">Delete Machine</button>
          <button type="button" class="btn btn-primary" id="save-machine" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- New Machine Modal -->
  <div class="modal fade" id="new-machine-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Machine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/machines/new" method="post" class="ajax-form">
            <input required placeholder="Machine Name" type="text" name="name">
            <input required placeholder="Machine Type" type="text" name="type">
            <textarea name="description">

            </textarea>
            <span>Options</span>
            <label>Default Status: </label><select name="[options]default_status">
              <option value="0">Reserved</option>
              <option value="1">Hold</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="create-machine" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#save-machine").on('click',() => {
      ajaxForm.submit($("#edit-machine-modal form"));
    })
    $("#delete-machine").on('click',() => {
      ajaxForm.submitTo({
        url: "/machines/delete",
        method: "post"
      },$("#edit-machine-modal form"))
    });
    $("#create-machine").on("click",() => {
      ajaxForm.submit($("#new-machine-modal form"))
    })
  </script>
  <%- include ../../partials/regular/navbar.ejs %>
  <div class="page-content">
    <h2>All machines</h2>
    <div id="table-wrapper-1"></div>
    <button type="button" style="margin-top: 10px;" 
    class="btn btn-primary" data-toggle="modal" 
    data-target="#new-machine-modal">Create New Machine</button>
  </div>
  <script>

    ajaxTable.summon($("#table-wrapper-1"),{
      url: "/machines/all",
      method: "get",
      id: "machines-table",
      ignore: ["_id","__v"],
      firstCap: true
    },() => {
      ajaxTable.connect($("#table-wrapper-1").children().first(),{
      action: (e) => {
        console.log("E:",e.data)
        $("#edit-machine-modal #machine-name").val(e.data.name)
        $("#edit-machine-modal #machine-type").val(e.data.type)
        $("#edit-machine-modal #machineId").val(e.data._id)
        $("#edit-machine-modal #machine-description").val(e.data.description)
        $("#edit-machine-modal").modal('toggle')
      },
      actionName: "Edit",
      actionClasses: ["btn","btn-sm","btn-warning"]
    })
    })
    setInterval(ajaxTable.refreshAll,1000)
    $(".ajax-form").on("success",ajaxTable.refreshAll);

  </script>
  <style>
    h4 {

      font-weight: 400;

    }

    .schedule-block {

      background: black;
      width: 50%;
      /* height: 100px; */
      padding: 10px;

    }

    .schedule-block h2 {
      color: white;
    }

    .schedule-block p {
      color: white;
    }

    .machines-table {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }

    .machines-table td {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }
  </style>
</body>

</html>