<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="/">AutoFAB</a><button data-toggle="collapse"
      class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
            href="#">Account</a>
            <div class="dropdown-menu" role="menu"></a>
              <a class="dropdown-item" role="presentation" href="/p/reservations">My Reservations</a>
              <a class="dropdown-item" role="presentation" href="/p/myaccount">Account Settings</a>
              <a class="dropdown-item" role="presentation" href="/p/all_dms">My Direct Messages</a>
            </div>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/interface/set/new">Use the New Interface</a></li>
        <% if (req.decoded.permission == -1) { %>
          <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
              href="#">Admin Tools</a>
            <div class="dropdown-menu" role="menu"></a>
              <a class="dropdown-item" role="presentation" href="/p/machines">Machines</a>
              <a class="dropdown-item" role="presentation" href="/p/users">Users</a>
              <a class="dropdown-item" role="presentation" href="/p/reservations?all">All Reservations</a>
              <a class="dropdown-item" role="presentation" href="/p/readers">Configure Readers</a>
              <a class="dropdown-item" role="presentation" href="/p/lab-schedule">Edit Schedule</a>
            </div>
          </li>
        <% } %>
      </ul><span class="navbar-text actions"> <a class="login" href="/p/myaccount">Welcome <b><%= req.decoded.username %></b></a><a
          class="btn btn-light action-button"
          role="button" href="/logout">Log Out</a></span>
    </div>
  </div>
</nav>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>



