

.createanewrescopy {
  width               : 100%;
  min-width           : 1683px;
  height              : 100vh;
  min-height          : 1190px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.createanewrescopy .createanewreserva {
  background-color    : rgba(255,255,255,0.0);
  top                 : 243px;
  height              : auto;
  width               : 710px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 57.0px;
}
.createanewrescopy .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 315px;
  height              : 2px;
  width               : 633px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .chooseamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 342px;
  height              : auto;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .starttime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 339px;
  height              : auto;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .endtime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 461px;
  height              : auto;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group4 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group4 .group2 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group4 .group2 .trotecspeedy300 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.createanewrescopy .group4 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group7 .group6 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group7 .group6 .a1200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.createanewrescopy .group7 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 519px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group5 .group3 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group5 .group3 .april252020 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.createanewrescopy .group5 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 520px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group8 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group8 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group8 .a200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.createanewrescopy .chooseaday {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 907px;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 896px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 907px;
  box-sizing          : border-box;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .reservedunavailab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 230px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.createanewrescopy .group9 .a8am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a10am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a11am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a12pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 399px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 469px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a2pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 539px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a3pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a4pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 678px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a5pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 748px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a6pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 818px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .a9am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group9 .showingresultsona {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : 591px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Italic", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.createanewrescopy .group9 .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 203px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 343px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 413px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 552px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 692px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 762px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .line310 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 832px;
  height              : 1px;
  width               : 446px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .rectangle11 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 204px;
  height              : 140px;
  box-sizing          : border-box;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .reserved911am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 217px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 238px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 41.0px;
}
.createanewrescopy .group9 .reserved911am .span1 {
  
}
.createanewrescopy .group9 .reserved911am .span2 {
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
}
.createanewrescopy .group9 .reserved911am .span3 {
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-align          : justify;
}
.createanewrescopy .group9 .rectangle2 {
  background-color    : rgba(247, 181, 0, 1.0);
  top                 : 622px;
  height              : 139px;
  box-sizing          : border-box;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .pending35pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 651px;
  height              : auto;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .group9 .pending35pm .span1 {
  text-align          : justify;
}
.createanewrescopy .group9 .pending35pm .span2 {
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-align          : justify;
}
.createanewrescopy .group9 .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 414px;
  height              : 40px;
  box-sizing          : border-box;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(109, 114, 120, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group9 .reserved121230 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 427px;
  height              : auto;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.createanewrescopy .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 616px;
  height              : 202px;
  box-sizing          : border-box;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .explainwhatyouwil {
  background-color    : rgba(255,255,255,0.0);
  top                 : 649px;
  height              : auto;
  width               : 605px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 0.19;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.createanewrescopy .pleasenotethatyou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1015px;
  height              : auto;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.createanewrescopy .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 858px;
  height              : 298px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .requestreservation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1079px;
  height              : auto;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 864px;
  height              : 202px;
  width               : 202px;
  position            : absolute;
  margin              : 0;
  left                : 425px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .uploadfileiegc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 853px;
  height              : auto;
  width               : 318px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createanewrescopy .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 923px;
  height              : 39px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 39px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .group .choosefile1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
.createanewrescopy .choosefile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 931px;
  height              : auto;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links {
  background-color    : rgba(255,255,255,0.0);
  top                 : -172px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : -39px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .screenshot20200421at112321pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 174px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .thelab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links .reservations {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 460px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links .manageyouraccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 984px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links .bookamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 713px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 237px;
  height              : 83px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1541px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .davidsmith2321123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 1364px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.createanewrescopy .newnavbarlongscreenredbar4links .davidsmith2321123 .span1 {
  text-align          : justify;
}
.createanewrescopy .newnavbarlongscreenredbar4links .davidsmith2321123 .span2 {
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  text-align          : justify;
}
.createanewrescopy .newnavbarlongscreenredbar4links .trianglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1642px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : 1px;
  width               : 1684px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .line7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : 94px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .redbarbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 12px;
  width               : 1704px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .newnavbarlongscreenredbar4links .redbarbottom .rectangle2 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 1704px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 858px;
  height              : 298px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.createanewrescopy .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 144px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}