

.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .autofabredandblacktextlogopng {
  background-color    : rgba(255,255,255,0.0);
  top                 : -170px;
  height              : 182px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .screenshot20200421at112321pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 174px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : -18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .aboutus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .contactus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 563px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : 480px;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group2 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 480px;
  box-sizing          : border-box;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group2 .yourcurrentreserva {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.desktophd .group2 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 313px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : 480px;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 540px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 480px;
  box-sizing          : border-box;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group .bookamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.desktophd .group .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 278px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 61px;
  height              : 100px;
  box-sizing          : border-box;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 1112px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : 480px;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 999px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 480px;
  box-sizing          : border-box;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group3 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 157px;
  height              : 225px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group3 .profileaccountse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.desktophd .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 1303px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .davidsmith2321123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 1126px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 815px;
  height              : 161px;
  width               : 737px;
  position            : absolute;
  margin              : 0;
  left                : 703px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group4 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 161px;
  box-sizing          : border-box;
  width               : 691px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .group4 .labstatusopen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : 338px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .group4 .labstatusopen .span1 {
  text-align          : justify;
}
.desktophd .group4 .labstatusopen .span2 {
  color               : rgba(69, 129, 49, 1.0);
  text-align          : justify;
}
.desktophd .group4 .bookingsystemokok {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 344px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .group4 .bookingsystemokok .span1 {
  text-align          : justify;
}
.desktophd .group4 .bookingsystemokok .span2 {
  color               : rgba(70, 130, 50, 1.0);
  text-align          : justify;
}
.desktophd .group4 .bookingsystemokok .span3 {
  color               : rgba(254, 255, 254, 1.0);
  text-align          : justify;
}
.desktophd .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 860px;
  height              : 116px;
  box-sizing          : border-box;
  width               : 496px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.desktophd .seethenewhomepage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 896px;
  height              : auto;
  width               : 512px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}