

.login {
  width               : 100%;
  min-width           : 1683px;
  height              : 100vh;
  min-height          : 1034px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.login .rectangle {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 1683px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.login .loginandgetstart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 131px;
  height              : auto;
  width               : 609px;
  position            : absolute;
  margin              : 0;
  left                : 537px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 75.0px;
}
.login .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 260px;
  height              : 468px;
  box-sizing          : border-box;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 538px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.login .forgotyourusername {
  background-color    : rgba(255,255,255,0.0);
  top                 : 677px;
  height              : auto;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 670px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.login .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 316px;
  height              : 75px;
  box-sizing          : border-box;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.login .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 442px;
  height              : 75px;
  box-sizing          : border-box;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.login .rectangle4 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 568px;
  height              : 75px;
  box-sizing          : border-box;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(222, 32, 32, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.login .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 338px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 538px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.login .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 538px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.login .signin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 589px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 678px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.login .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : 75px;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}