

.newhomestarthereredesignedtestlarger {
  width               : 100%;
  min-width           : 1683px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.newhomestarthereredesignedtestlarger .autofabredandblacktextlogopng {
  background-color    : rgba(255,255,255,0.0);
  top                 : -170px;
  height              : 182px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .screenshot20200421at112321pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 174px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : -18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .thelab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .reservations {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 442px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .upcomingreservation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 553px;
  height              : auto;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .helpcontact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 553px;
  height              : auto;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 1173px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .manageyouraccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 966px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .bookamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 710px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 100px;
  box-sizing          : border-box;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 1332px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 83px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1523px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .davidsmith2321123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 1346px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 287px;
  height              : 202px;
  box-sizing          : border-box;
  width               : 1602px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group4 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group4 .group2 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group4 .group2 .trotecspeedy300 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlarger .group4 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 621px;
  height              : 281px;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 1178px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group9 .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 281px;
  box-sizing          : border-box;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group9 .ifyouhaveanyques {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : 449px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group9 .ifyouhaveanyques .span1 {
  
}
.newhomestarthereredesignedtestlarger .group9 .ifyouhaveanyques .span2 {
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.newhomestarthereredesignedtestlarger .group9 .ifyouhaveanyques .span3 {
  
}
.newhomestarthereredesignedtestlarger .group9 .rectangle11 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 209px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group9 .sendamessage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlarger .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 748px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group7 .group6 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group7 .group6 .a1200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlarger .group7 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group5 .group3 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group5 .group3 .april252020 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlarger .group5 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 1062px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group8 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group8 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group8 .a200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.newhomestarthereredesignedtestlarger .reserveamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 46px;
  width               : 456px;
  position            : absolute;
  margin              : 0;
  left                : 1270px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group .continuereservation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 456px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlarger .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 621px;
  height              : 281px;
  box-sizing          : border-box;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 837px;
  height              : 44px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group11 .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group11 .viewall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 34.0px;
}
.newhomestarthereredesignedtestlarger .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : 104px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .april27th2004 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 685px;
  height              : auto;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .april27th2004 .span1 {
  text-align          : justify;
  line-height         : 37.0px;
}
.newhomestarthereredesignedtestlarger .april27th2004 .span2 {
  color               : rgba(109, 212, 0, 1.0);
  text-align          : justify;
  line-height         : 37.0px;
}
.newhomestarthereredesignedtestlarger .april27th2004 .span3 {
  font-size           : 30.0px;
  text-align          : justify;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 621px;
  height              : 281px;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 604px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group10 .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 281px;
  box-sizing          : border-box;
  width               : 475px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span1 {
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span2 {
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span3 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span4 {
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span5 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span6 {
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span7 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span8 {
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span9 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span10 {
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span11 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlarger .group10 .monday8am5pmt .span12 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlarger .group10 .rectangle11 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 214px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 245px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .group10 .viewmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 223px;
  height              : auto;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlarger .labinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 553px;
  height              : auto;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 530px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlarger .trianglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1624px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .redbarbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1014px;
  height              : 20px;
  width               : 1704px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .redbarbottom .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 1704px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 644px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlarger .thefablabisopen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 736px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlarger .thefablabisopen .span1 {
  
}
.newhomestarthereredesignedtestlarger .thefablabisopen .span2 {
  color               : rgba(109, 212, 0, 1.0);
}
.newhomestarthereredesignedtestlarger .thefablabisopen .span3 {
  
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}