

.newhomestarthereredesignedtestlargernoboxestest {
  width               : 100%;
  min-width           : 1683px;
  height              : 100vh;
  min-height          : 1034px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links {
  background-color    : rgba(255,255,255,0.0);
  top                 : -170px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : -18px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .screenshot20200421at112321pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 174px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .thelab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .reservations {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 460px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .manageyouraccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 984px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .bookamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 713px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 237px;
  height              : 83px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1541px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .davidsmith2321123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 1364px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .davidsmith2321123 .span1 {
  text-align          : justify;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .davidsmith2321123 .span2 {
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  text-align          : justify;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .trianglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1642px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .line62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : 1px;
  width               : 1684px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .line7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : 94px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .redbarbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 12px;
  width               : 1704px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .newnavbarlongscreenredbar4links .redbarbottom .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 1704px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .upcomingreservation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 553px;
  height              : auto;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .helpcontact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : auto;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 1188px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group4 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group4 .group2 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group4 .group2 .trotecspeedy300 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group4 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 648px;
  height              : 240px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .ifyouhaveanyques {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 449px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .ifyouhaveanyques .span1 {
  
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .ifyouhaveanyques .span2 {
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .ifyouhaveanyques .span3 {
  
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 182px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group9 .sendamessage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : auto;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 748px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group7 .group6 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group7 .group6 .a1200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group7 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group5 .group3 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group5 .group3 .april252020 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group5 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 46px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 1062px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group8 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group8 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 24px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group8 .a200pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .reserveamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 46px;
  width               : 456px;
  position            : absolute;
  margin              : 0;
  left                : 1270px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 46px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group .continuereservation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 456px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 837px;
  height              : 44px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group11 .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group11 .viewall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 34.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : 104px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .april27th2004 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 685px;
  height              : auto;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .april27th2004 .span1 {
  text-align          : justify;
  line-height         : 37.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .april27th2004 .span2 {
  color               : rgba(109, 212, 0, 1.0);
  text-align          : justify;
  line-height         : 37.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .april27th2004 .span3 {
  font-size           : 30.0px;
  text-align          : justify;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 649px;
  height              : 244px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span1 {
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span2 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span3 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span4 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span5 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span6 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span7 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span8 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span9 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span10 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span11 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span12 {
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span13 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  line-height         : 25.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .monday8am5pmt .span14 {
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 44px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .group12 .rectangle3 {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 44px;
  box-sizing          : border-box;
  width               : 245px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .group10 .group12 .viewmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .labinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 551px;
  height              : auto;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 559px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 41.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .thefablabisopen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 736px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.newhomestarthereredesignedtestlargernoboxestest .thefablabisopen .span1 {
  
}
.newhomestarthereredesignedtestlargernoboxestest .thefablabisopen .span2 {
  color               : rgba(109, 212, 0, 1.0);
}
.newhomestarthereredesignedtestlargernoboxestest .thefablabisopen .span3 {
  
}
.newhomestarthereredesignedtestlargernoboxestest .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 621px;
  height              : 291px;
  box-sizing          : border-box;
  width               : 460px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  border-radius       : 16px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 619px;
  height              : 291px;
  box-sizing          : border-box;
  width               : 460px;
  position            : absolute;
  margin              : 0;
  left                : 612px;
  border-radius       : 16px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 619px;
  height              : 291px;
  box-sizing          : border-box;
  width               : 460px;
  position            : absolute;
  margin              : 0;
  left                : 1188px;
  border-radius       : 16px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 478px;
  height              : 2px;
  width               : 1685px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .line61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 961px;
  height              : 2px;
  width               : 1685px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 47px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 1363px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .navaraccounthotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 43px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 969px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .navaraccounthotspot .hotspot6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 301px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 835px;
  height              : 46px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 43px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 258px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 43px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 456px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 43px;
  width               : 242px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.newhomestarthereredesignedtestlargernoboxestest .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 22px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 1627px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}