

.thelabteampage {
  width               : 100%;
  min-width           : 1683px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.thelabteampage .thelccfablab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 208px;
  height              : auto;
  width               : 710px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 57.0px;
}
.thelabteampage .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 282px;
  height              : 2px;
  width               : 767px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .theteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : auto;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.thelabteampage .thespace {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : auto;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.thelabteampage .themachines {
  background-color    : rgba(255,255,255,0.0);
  top                 : 452px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.thelabteampage .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : 312px;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 447px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : 312px;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 1049px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .alecmathewson {
  background-color    : rgba(255,255,255,0.0);
  top                 : 663px;
  height              : auto;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.thelabteampage .fablabcoordinator {
  background-color    : rgba(255,255,255,0.0);
  top                 : 725px;
  height              : auto;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Italic", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.thelabteampage .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 663px;
  height              : 128px;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 1049px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .group .fablabtechnician {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : auto;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Italic", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.thelabteampage .group .craiglavergne {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links {
  background-color    : rgba(255,255,255,0.0);
  top                 : -171px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : -19px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 345px;
  width               : 1722px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .screenshot20200421at112321pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 174px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .thelab {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links .reservations {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 460px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links .manageyouraccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 984px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links .bookamachine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 713px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 237px;
  height              : 83px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1541px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .davidsmith2321123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 1364px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.thelabteampage .newnavbarlongscreenredbar4links .davidsmith2321123 .span1 {
  text-align          : justify;
}
.thelabteampage .newnavbarlongscreenredbar4links .davidsmith2321123 .span2 {
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  text-align          : justify;
}
.thelabteampage .newnavbarlongscreenredbar4links .trianglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1642px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : 1px;
  width               : 1684px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .line7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : 94px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .redbarbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 12px;
  width               : 1704px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .newnavbarlongscreenredbar4links .redbarbottom .rectangle {
  background-color    : rgba(224, 32, 32, 1.0);
  top                 : 0px;
  height              : 12px;
  box-sizing          : border-box;
  width               : 1704px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 134px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : 48px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.thelabteampage .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 452px;
  height              : 48px;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}